{% extends "base.html" %}
{% block title %}Types of ishing rod licences{% endblock%}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
        <li role="menuitem"><a href="/">Fishing rod licensing</a></li>
        <li role="menuitem" class="current"><a href="#">Lincenses</a></li>
      </ul>

      <h1>Types of fishing rod licences</h1>
      <ul class="side-nav">
        <li>
          <a href="{{url_for('licence_salmon_trout')}}">Salmon and trout licence</a>
        </li>
        <li>
          <a href="{{url_for('coarse')}}">Coarse licence</a>
        </li>
        <li>
          <a href="{{url_for('thames')}}">River Thames licence</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
