{% extends "base.html" %}
{% block title %}Fishing rod licence{% endblock%}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
        <li role="menuitem"><a href="/">Fishing rod licensing</a></li>
        <li role="menuitem" class="current"><a href="#">Check a licence</a></li>
      </ul>

      <h1>Check a fishing licence</h1>
      <form action="{{url_for('check_result')}}" method="get">
        <label>Licence number
          <input type="text" name="q" />
          <button type="submit" class="button expand">Check</button>
        </label>
      </form>
    </div>
  </div>
{% endblock %}
