{% extends "base.html" %}
{% block title %}Your licences{% endblock%}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <h1>Your licences</h1>
      {% if licences %}
        <ul>
          {% for licence in licences %}
            <li>
            {{qrcode(licence.uri|reference_number)}}
              <h3>Fishing Rod Licence</h3>
              <h4>{{licence.uri|reference_number|pad_reference}}</h4>
              <dl>
                <dt>Starts</dt>
                <dd>{{licence.starts_at}}</dd>
                <dt>Ends</dt>
                <dd>{{licence.ends_at}}</dd>
              </dl>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>
          No licences were found
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
