{% extends "base_transaction.html" %}
{% block header_title %}<a href="/">Check a visa</a>{% endblock %}
{% block title %}Enter code to view visa{% endblock%}
{% block transaction_content %}
  <div class="row">
    <div class="small-12 columns">
     <p>
      You can only check a visa using a one-use code provided by the 
      visa holder. 
     </p>
     <form id="check_code" action="" method="post">
         {{ render_field(form.code) }}
         <button type="submit" class="button expand">Submit</button>
         {{ form.csrf_token }}
      </form>
    </div>
  </div>
{% endblock %}
