{% extends "base_transaction.html" %}
{% block title %}Status check{% endblock %}
{% block transaction_content %}
  <div class="row">
    <div class="small-12 columns">
      <h3>Status check</h3>
      <div class="panel">
        <dl>
          <dt>Name</dt>
          <dd>{{ person.full_name }}</dd>
          <dt>Passport number</dt>
          <dd>{{visa.passport_number}}</dd>
          <dt>Dates</dt>
          <dd>Entitled to work in the UK until {{ visa.expires_at | format_date }}</dd>
          <dt>Type of work</dt>
          <dd>{{ visa.visa_type }}</dd>
        </dl>
        <a class="register-link" href="#"><i class="fa fa-list-alt fa-1"></i> view source</a>
      </div>
      <p>
        You should request the passport details and check the name and number.
      </p>
    </div>
  </div>
{% endblock %}
