{% extends "base_transaction.html" %}
{% block title %}Sponsorship{% endblock%}
{% block transaction_content %}
  <div class="row">
    <div class="small-12 columns">
      <ul class="verified-facts">
        <li>
          <span>&#10003;</span>
          Your organisation has a valid <a href="">sponsorship licence</a>
        </li>
      </ul>
      <h2>About the job</h2>
      on list [search box] or advertised [add link to advert]

      <h2>About the worker</h2>
    </div>
  </div>
{% endblock %}