{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Fishing rod licence{% endblock%}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <h1>Buy a fishing rod licence</h1>
      <ul class="verified-facts">
        <li>
          <span>&#10003;</span>
          {% if order.concession_type == 'disabled' %}
            Disabled concession
          {% elif order.concession_type == 'senior' %}
            Age verified &mdash; senior concession
          {% elif order.concession_type == 'adult' %}
            Age verified &mdash; adult licence
          {% elif order.concession_type == 'junior' %}
            Age verified &mdash; junior concession
          {% endif %}
        </li>
        <li>
          <span>&#10003;</span> 
          {% if order.live_licence_count == 0%}
            No existing licences
          {% else %}
            {% if order.live_licence_count == 1 %}
              1 existing licence
            {% else %}
              {{order.live_licence_count}} existing licences
            {% endif %}
          {% endif %}
        </li>
      </ul>
      <form action="" method="post">
         {{form.licence_type.label}}
         {{form.licence_type}}
         {{form.duration.label}}
         {{form.duration}}
         {{ render_field(form.start_date) }}
         {{ render_field(form.start_time, type="time") }}
         <button type="submit" class="button expand">Next</button> 
      </form>

    </div>
  </div>
{% endblock %}
