{% extends "base.html" %}
{% block title %}Trout and coarse licence{% endblock%}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
        <li role="menuitem"><a href="/">Fishing rod licensing</a></li>
        <li role="menuitem"><a href="{{url_for('licences')}}">Lincenses</a></li>
        <li role="menuitem" class="current"><a href="#">Trout and course licence</a></li> 
      </ul>

      <h1>Trout and coarse licence</h1>
      <p>
       This licence lets you fish for coarse fish, eel,
       non-migratory trout, char, coarse fish, and smelt in England (except the River Tweed), 
       Wales and the Border Esk region of Scotland.
      </p>
      <p>
        Children under 12 don’t need a licence. However, if you take a child under 
        12 fishing and hold the rod or help hold it you must buy a licence for yourself.
      </p>
      <div class="panel callout">
        <p>
          You must always carry your rod licence when you’re fishing or you could be prosecuted.
          You can be fined up to &pound;2,500 for fishing without a rod licence.
        </p>
        <p>
          It’s illegal to leave a rod and line in the water unattended or over which you don’t have sufficient control.
        </p>
      </div>
      <h3>Number of rods you can use with this licence</h3>
      <p>
        The maximum number of rods that you can fish with depends on the type of water and fish.
      </p>
      <table>
        <thead>
          <tr>
            <th>Types of fish</th>
            <th>Rivers, streams, drains and canals</th>
            <th>Reservoirs, lakes and ponds</th>
          </tr>
        </thead>
        <tbody>
         <tr>
            <td>Trout (non-migratory) and char</td>
            <td>1 rod</td>
            <td>2 rods</td>
          </tr>
          <tr>
            <td>Coarse fish and eel</td>
            <td>4 rods</td>
            <td>4 rods</td>
          </tr>
        </tbody>
      </table>
     <p>
        You may need to buy additional licences if you fish with more than 1 rod.
     </p>
     <p>
        You’ll need to buy:
     </p>
     <ul>
      <li>2 licences if you’re fishing for coarse fish with 3 or 4 rods</li>
      <li>2 licences if you’re fishing for salmon or trout with 2 rods</li>
     </ul>
     <h3>How much it costs</h3>
     <table>
       <tbody>
        <tr>
          <td>Licence type</td>
          <td>Price</td>
        </tr>
        <tr>
          <td>Full</td>
          <td>&pound;27.00</td>
        </tr>
        <tr>
          <td>Senior (over 65) concession</td>
          <td>&pound;18.00</td>
        </tr>
        <tr>
          <td>Disabled concession</td>
          <td>&pound;18.00</td>
        </tr>
        <tr>
          <td>Junior (12 to 16) concession</td>
          <td>&pound;5.00</td>
        </tr>
        <tr>
          <td>8-day licence</td>
          <td>&pound;10.00</td>
        </tr>
        <tr>
          <td>1-day licence</td>
          <td>&pound;3.75</td>
        </tr>
      </tbody>
    </table>
      <p>
      	<a href="{{url_for('verify')}}" class="button expand">Buy a licence</a>	
      	<a href="{{url_for('your_licences')}}" class="button expand">View your licences</a>	
      </p>
    </div>
  </div>
{% endblock %}
