{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Fishing rod licence{% endblock%}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <h1>Pay</h1>
      <form action="" method="post">
        <p>Total: &pound;{{order.calculate_total()|format_money}}</p>
        <p>Licence: {{order.licence_name()}}</p>
        <p>Duration: {{order.duration}}</p>
        {{ render_field(form.card_name) }}
        {{ render_field(form.card_number) }}
        {{ render_field(form.expires, type="date")}}
        {{ render_field(form.security_code, type="time") }}
        <button type="submit" class="expand">Make payment</button>
      </form>
    </div>
  </div>
{% endblock %}
