{% extends "base.html" %}
{% block title %}River Thames licence{% endblock%}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
        <li role="menuitem"><a href="/">Fishing rod licensing</a></li>
        <li role="menuitem"><a href="{{url_for('licences')}}">Lincenses</a></li>
        <li role="menuitem" class="current"><a href="#">River Thames licence</a></li> 
      </ul>

      <h1>River Thames licence</h1>
      <p>
        This additional licence permits you to fish at locks or weirs on the River Thames.
        They’re valid from 1 April to 31 March each year. You’re allowed to take another person fishing with your permit 3 times a year.
      </p>
      <h3>How much it costs</h3>
      <table>
       <tbody>
        <tr>
          <td>Licence type</td>
          <td>Price</td>
        </tr>
        <tr>
          <td>Adults</td>
          <td>&pound;28.50</td>
        </tr>
        <tr>
          <td>Senior (over 60) concession</td>
          <td>&pound;18.50</td>
        </tr>
        <tr>
          <td>Disabled concession</td>
          <td>&pound;18.50</td>
        </tr>
        <tr>
          <td>Junior (under 16) concession</td>
          <td>&pound;18.50</td>
        </tr>
      </tbody>
    </table>
      <p>
      	<a href="{{url_for('verify')}}" class="button expand">Buy a licence</a>	
      	<a href="{{url_for('your_licences')}}" class="button expand">View your licences</a>	
      </p>
    </div>
  </div>
{% endblock %}
