{% extends "base_service.html" %}
{% block title %}{{organisation.name}}{% endblock%}
{% block service_title %} Manage - {{organisation.name}}{% endblock%}
{% block service_content %}
  <div class="row">
    <div class="small-12 columns">
      <h2>{{organisation.name}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <dl class="tabs full-3" data-tab>
        <dd class="active"><a href="#panel1">Overview</a></dd>
        <dd><a href="#panel3">Licences</a></dd>
        <dd><a href="#panel4">Tax</a></dd>
      </dl>

      <p>
        {{organisation.activities}}
      </p>

      <hr/>

      <h3>Directors and officers <a href="#" class="button tiny right">Ammend</a></h3>
      <ul>
        <li>
          Karen Smith &mdash; Director
        </li>
        <li>
          Simon Calver &mdash; Director
        </li>
      </ul>

      <hr/>

      <h3>Registered address <a href="#" class="right button tiny">Ammend</a></h3>
      <p>
        Transworld House, 100 City Road, London, EC1Y 2BP
      </p>
    </div>
  </div>
{% endblock %}
