{% extends "base_transaction.html" %}
{% block title %}Types of organisation{% endblock%}
{% block transaction_content %}
  <div class="row">
    <div class="small-12 columns">
      
      <div id="done-pending" class="done panel">
          <h2>Pending</h2>
          <p>
            Your application is pending untill the other directors have verified.
            This page will automatically update.
          </p>
      </div>

      <div id="done-done" class="done panel">
          <h2>&#10003; Done</h2>
          <p>
            Your organisation is now visible on the public register and you will
            be able to sign in an manage it.
          </p>
      </div>

    </div>
  </div>
{% endblock %}