{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Types of organisation{% endblock%}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
     <h2>Organisation details</h2>
     <form id="start_details" action="" method="post">
         {{ render_field(form.name) }}
         <ul class="verified-facts">
          <li>
          <span>&#10003;</span>
          Name avalible
          </li>
        </ul>
         {{ render_field(form.activities) }}
         <button type="submit" class="button expand">Complete</button>
      </form>
    </div>
  </div>
{% endblock %}
