{% extends "base_transaction.html" %}
{% block title %}Types of organisation{% endblock%}
{% block transaction_content %}
  <div class="row">
    <div class="small-12 columns">
      <form method="post" action="">
        <h2>Registrations</h2>
        {{form.register_data}}
        {{form.register_data.label}}
        <p>
          This could include: keeping customers’ addresses on file, recording staff working hours, giving delivery information to a delivery company.
        </p>
        {{form.register_employer}}
        {{form.register_employer.label}}
        <p>
           This includes if you’re employing yourself eg as the only director of a limited company.
        </p>
        {{form.register_construction}}
        {{form.register_construction.label}}
        <p>
          You must register as a contractor with the Construction Industry Scheme (CIS) if: you pay subcontractors to do construction work your business doesn’t do construction work but you usually spend more than £1 million a year on construction.
        </p>
        <hr/>
        <h2>Taxes</h2>
        <ul class="verified-facts">
          <li>
            <span>&#10003;</span>
            Your organisation will be registered for <a href="#">Corperation tax</a>
          </li>
          <li>
            <span>&#10003;</span>
            Directors will automatically be registered for <a href="">Self Assessment</a>
          </li>
          <li class="pending">
            <span>&dash;</span>
            Your organisation will automatically be registered for <a href="">VAT</a> once 
            its VAT taxable turnover reaches more than &pound;81,000
          </li>
        </ul>
        <hr/>
        <h2>Licences</h2>
        <p>
          Once your organisation has been created, you will immediatly able to 
          apply for licences.
        </p>
        <button type="submit" class="button expand">Next</button>
      </form>
    </div>
  </div>
{% endblock %}