{% extends "base_transaction.html" %}
{% block title %}Types of organisation{% endblock%}
{% block transaction_content %}
  <div class="row">
    <div class="small-12 columns">
     <h2>Review details</h2>
     <div class="panel ">
       <h5>Warning</h5> 
       <p>It is an offence to provide information which you know to be incorrect.</p>
       <hr/>
       <dl>
         <dt>Name</dt>
         <dd>{{order.name}}</dd>
         <dt>Organisation type</dt>
         <dd>{{order.organisation_type.replace('-',' ')}}</dd>
         <dt>Activities</dt>
         <dd>{{order.activities}}</dd>
       </dl>
     </div>
     <form action="" method="post">
        {{ render_checkbox(form.confirm) }}
        <button type="submit" class="button expand">Create organisation</button>
      </form>
    </div>
  </div>
{% endblock %}